@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body{
    background: url(img/cubes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
}

.square{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
    background: radial-gradient(at 50% 0%, rgba(0,0,0,0), rgba(255,255,255, 0.3));
    box-shadow: 0 0 2px #000;
    height: 20px;
    width: 20px;
    margin: 2px;
    transition: 4s ease;
}

.square:hover{
    transition-duration: 0s ;
}
